<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malik.doc4wheel">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat.Light">
        <service
            android:name=".onAppKilled"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1lhh0KWBw7Wy620_b0MTJqIrwcifV7dY" />

        <activity
            android:name=".Login.LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Customer.CustomerMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Customer.CustomerSettingsActivity" />
        <activity android:name=".Mechanic.MechanicSettingsActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".HistorySingleActivity" />
        <activity
            android:name=".Mechanic.MechanicMapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgetPasswordActivity"></activity>
    </application>

</manifest>